Repository frequenz-floss/frequenz-client-dispatch-python, pull requests merged in 2024-03, with the labels that each got.

#25 Downgrade pytest as release was yanked
  pyproject.toml
Labels: part:tooling

#21 Make test classes available
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/conftest.py
  src/frequenz/client/dispatch/test/__init__.py
  src/frequenz/client/dispatch/test/_service.py
  src/frequenz/client/dispatch/test/client.py
  src/frequenz/client/dispatch/test/generator.py
  src/frequenz/client/dispatch/types.py
  tests/test_dispatch_client.py
  tests/test_dispatch_types.py
Labels: part:docs, part:tests, part:tooling

#26 Useful additions for testing
  RELEASE_NOTES.md
  src/frequenz/client/dispatch/_internal_types.py
  src/frequenz/client/dispatch/test/_service.py
  src/frequenz/client/dispatch/test/client.py
  src/frequenz/client/dispatch/test/generator.py
  src/frequenz/client/dispatch/types.py
  tests/test_dispatch_client.py
Labels: part:docs, part:tests

#27 Fix the Python package name
  .cookiecutter-replay.json
  CONTRIBUTING.md
  README.md
  pyproject.toml
Labels: part:docs, part:tooling
