Repository frequenz-floss/frequenz-client-dispatch-python, pull requests merged in 2024-08, with the labels that each got.

#74 Implement Pagination for the python client
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/dispatch/__main__.py
  src/frequenz/client/dispatch/_client.py
  src/frequenz/client/dispatch/test/_service.py
  tests/test_dispatch_client.py
Labels: part:docs, part:tests, part:tooling

#73 Initial work to use base client
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/dispatch/__main__.py
  src/frequenz/client/dispatch/_client.py
  src/frequenz/client/dispatch/test/client.py
Labels: part:docs, part:tooling

#75 Simplify test code using fixtures
  src/frequenz/client/dispatch/test/fixtures.py
  tests/test_dispatch_client.py
Labels: cmd:skip-release-notes, part:docs, part:tests, part:tooling

#80 Configure the new labels
  .github/ISSUE_TEMPLATE/bug.yml
  .github/keylabeler.yml
  .github/labeler.yml
Labels: part:tooling, type:enhancement

#81 Fix bug where recurrence is not properly unset when not specified
  src/frequenz/client/dispatch/_client.py
  src/frequenz/client/dispatch/_internal_types.py
  tests/test_dispatch_types.py
Labels: cmd:skip-release-notes, part:tests, part:dispatcher
