Repository frequenz-floss/frequenz-client-dispatch-python, pull requests merged in 2024-05, with the labels that each got.

#42 Unpin sybil
  pyproject.toml
Labels: part:tooling

#43 Fail the `nox-cross-arch-all` job if any matrix job fails
  .github/workflows/ci.yaml
  CODEOWNERS
Labels: part:tooling

#44 Don't recursively scan for pyproject.toml when calculating the cache key
  .github/workflows/ci.yaml
Labels: part:tooling, type:tech-debt

#47 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs

#46 Implement a CLI and REPL dispatch client
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/dispatch/__main__.py
  src/frequenz/client/dispatch/_cli_types.py
  src/frequenz/client/dispatch/_internal_types.py
  tests/test_dispatch_cli.py
Labels: part:docs, part:tests, part:tooling

#50 Install dispatch client as "dispatch-cli"
  pyproject.toml
  src/frequenz/client/dispatch/__main__.py
Labels: cmd:skip-release-notes, part:tooling

#48 Support payload and recurrence flags in CLI/REPL
  src/frequenz/client/dispatch/__main__.py
  src/frequenz/client/dispatch/_cli_types.py
  tests/test_dispatch_cli.py
Labels: cmd:skip-release-notes, part:tests
