Repository frequenz-floss/frequenz-client-dispatch-python, pull requests merged in 2025-04, with the labels that each got.

#141 Fix dispatch-cli stream trying to print event as dispatch
  RELEASE_NOTES.md
  src/frequenz/client/dispatch/__main__.py
Labels: part:docs, part:cli, part:dispatcher

#143 Update to repo-config v0.13.2
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  docs/_scripts/macros.py
  mkdocs.yml
  pyproject.toml
Labels: part:docs, part:tooling, part:dispatcher

#142 Add `Dispatch.end_time` and print it in `dispatch-cli`
  RELEASE_NOTES.md
  src/frequenz/client/dispatch/__main__.py
  src/frequenz/client/dispatch/types.py
  tests/test_client.py
  tests/test_proto.py
Labels: part:docs, part:tests, part:cli, part:dispatcher

#151 Fix stream reconnecting
  RELEASE_NOTES.md
  src/frequenz/client/dispatch/_client.py
Labels: part:docs, part:tests, scope:breaking-change, part:dispatcher
